# Python
__pycache__/
*.py[cod]

# Virtual Environments
venv/
myenv/
env/
.venv/

# Django
db.sqlite3
*.log
media/
staticfiles/

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Build
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db